.card{
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
}
.card .product_info{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
.card button{
    background-color: #ff9f00;
    padding: 10px 15px;
}